{% load static %}

<link rel="stylesheet" href="{% static 'blogapp/style.css' %}">
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Internationalway | About</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body>
<div class="main">
  <div class="header">
    <div class="header_resize">
      <div class="logo">
        <h1><a href="index.html">The colors you hear</a></h1>
      </div>
      <div class="clr"></div>
      <div class="menu_nav">
        <ul>
          <li><a href="{%url 'home'%}">Home</a></li>
          <li class="last"><a href="{%url 'about'%}">About Us</a></li>
        </ul>
      </div>
      <div class="clr"></div>
    </div>
  </div>
  <div class="clr"></div>
  <div class="content">
    <div class="content_resize">
      <div class="mainbar">
        <div class="article">
          <h2><span>About us</span></h2>
          <div class="clr"></div>
          <p>We believe that music and colors are intertwined, and that each color can evoke a unique mood and feeling. That's why we've created a music selection that's tailored to your color preferences.</p>
          <p>Simply choose a color and we'll recommend a song that match the mood and feeling associated with that color. Whether you're feeling blue, seeing orange, or feeling green, our music selection has something for everyone.</p>
          <p>Our team of music experts has carefully curated each playlist to ensure that the music perfectly complements the chosen color. So, whether you're looking for upbeat pop tunes, soothing classical pieces, or soulful blues tracks, we've got you covered.</p>
          <p>So, whether you're looking for music to brighten up your day or to unwind after a long week, we invite you to explore our colorful world of music. We hope you enjoy the experience and discover your new favorite song!</p>
        </div>
      </div>
      <div class="sidebar">
        <div class="gadget">
          <h2><span>Find a sound</span></h2>
          <div class="clr"></div>
          <ul class="ex_menu">
            <li><a href="https://open.spotify.com/"  target="_blank">Spotify</a><br />
             </li>
            <li><a href="https://music.youtube.com/"  target="_blank">Youtube Music</a><br />
             </li>
            <li><a href="https://music.apple.com/co/browse"  target="_blank">Apple Music</a><br />
             </li>
          </ul>
        </div>
        <div class="gadget">
          <h2>Wise Words</h2>
          <div class="clr"></div>
          <p> <em>Music has always been a matter of Energy to me, a question of Fuel. Sentimental people call it Inspiration, but what they really mean is Fuel. I have always needed Fuel. </em></p>
          <p style="float:right;"><strong>Hunter S. Thompson</strong></p>
        </div>
      </div>
      <div class="clr"></div>
    </div>
  </div>
    <div class="footer">
      <p class="lf">&copy; Copyright <a href="{%url 'home'%}">MyWebSite</a>.</p>
      <p class="rf">Layout by Free <a href="http://www.freewebsitetemplatez.com/"  target="_blank" >Website Templates</a></p>
      <div class="clr"></div>
    </div>
  </div>
</div>
<div align=center>This template  downloaded form <a href='http://all-free-download.com/free-website-templates/'  target="_blank">free website templates</a></div></body>
</html>
