{% load static %}
{% load embed_video_tags %}
<style>
.btn-group button {
  border: 2px solid black; /* Green border */
  color: white; /* White text */
  padding: 70px 70px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  float: left; /* Float the buttons side by side */
  margin-left:40px;
}

/* Clear floats (clearfix hack) */
.btn-group:after {
  content: "";
  clear: both;
  display: table;
}


</style>
<link rel="stylesheet" href="{% static 'blogapp/style.css' %}">
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Internationalway</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body>
<div class="main">
  <div class="header">
    <div class="header_resize">
      <div class="logo">
        <h1><a href="{%url 'home'%}">The colors you hear</a></h1>
      </div>
      <div class="clr"></div>
      <div class="menu_nav">
        <ul>
          <li class="active"><a href="{%url 'home'%}">Home</a></li>
          <li class="last"><a href="{%url 'about'%}">About Us</a></li>
        </ul>
      </div>
      <div class="clr"></div>
    </div>
  </div>
  <div class="clr"></div>
  <div class="content">
    <div class="content_resize">
      <div class="mainbar">
        <div class="article">
          <div class="clr"></div>

            <center>
                <div class='px-3 mb-5'>
                    {% video videos.url '426x240'%}
                    <div class='d-flex justify-content-start'>
                        {{videos.title}}
                    </div>
                </div>
            </center>
            <br>
            <br>
            <center><h3>This song is made to be ROCKED!</h3></center>
        </div>
      </div>
      <div class="sidebar">
        <div class="gadget">
          <h2><span>Find a sound</span></h2>
          <div class="clr"></div>
          <ul class="ex_menu">
            <li><a href="https://open.spotify.com/"  target="_blank">Spotify</a><br />
             </li>
            <li><a href="https://music.youtube.com/"  target="_blank">Youtube Music</a><br />
             </li>
            <li><a href="https://music.apple.com/co/browse"  target="_blank">Apple Music</a><br />
             </li>
          </ul>
        </div>
        <div class="gadget">
          <h2>Wise Words</h2>
          <div class="clr"></div>
          <p> <em>Music has always been a matter of Energy to me, a question of Fuel. Sentimental people call it Inspiration, but what they really mean is Fuel. I have always needed Fuel. </em></p>
          <p style="float:right;"><strong>Hunter S. Thompson</strong></p>
        </div>
      </div>
      <div class="clr"></div>
    </div>
  </div>
  
    <div class="footer">
      <p class="lf">&copy; Copyright <a href="{%url 'home'%}">MyWebSite</a>.</p>
      <p class="rf">Layout by Free <a href="http://www.freewebsitetemplatez.com/"  target="_blank">Website Templates</a></p>
      <div class="clr"></div>
    </div>
  </div>
</div>
<div align=center>This template  downloaded form <a href='http://all-free-download.com/free-website-templates/'  target="_blank">free website templates</a></div></body>
</html>
